@import "styles/variables";

.about {
  padding: 1rem;
  }
  .title1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $dark;
    padding: 1rem;
    color: $light-grey;
    height: 100px;
  }
  .imagens {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    &__imagem {
      width: 600px;
      img {
        border-radius: 5px;
        width: 100%;
      }
    }
  }