@import 'styles/variables';
@import 'styles/mediaQueries';

  .cardapio {
    padding: 1rem;
    &__filtros {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 30px;
      width: 100%;
    }
  }